<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timain.shiro.mapper.PermissionMapper">


    <select id="queryPermissionByUserId" resultType="com.timain.shiro.pojo.Permission">
        SELECT t1.* FROM permission t1 INNER JOIN role_permission t2 INNER JOIN user_role t3 ON (t1.id=t2.permission_id and t2.role_id=t3.role_id)
        WHERE t3.user_id = #{userId}
    </select>
</mapper>